<div class="text-center">
	<h1>{{markscheme.title}}: Select Case</h1>

  <div class="col-md-2 col-xs-2">
      <button class="btn btn-default btn-sm" ng-click="back()">
        <span class="glyphicon glyphicon-menu-left"></span>
      </button>
  </div>
  <div class="col-md-8 col-xs-8">
    <input ng-model="search.cases.title" class="form-control" placeholder="Search">
  </div>
</div>

<table class="table table-striped listcase cases">
    <thead>
      <tr>
        <th class="col-md-6 col-xs-6">Cases</th>
        <th class="col-md-3 col-xs-3">Rating</th>
        <th class="col-md-3 col-xs-3">Difficulty</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        	<a href="/#/markscheme/{{markschemeid}}/case/0">
        		<div>Empty case</div>
        	</a>
        </td>
        <td></td>
        <td></td>
      </tr>
      <tr ng-repeat="case in cases | filter:search.cases">
        <td>
          <a href="/#/markscheme/{{markschemeid}}/case/{{case._id}}">
            <div>{{case.title}}</div>
          </a>
        </td>
        <td><uib-rating class="heart" ng-model="case.rating" ng-show="case.rating>0" max="{{case.rating}}" readonly="true" state-on="'glyphicon-heart'" state-off="'glyphicon-heart-empty'" aria-labelledby="glyphicon-heart"></uib-rating></td>
        <td><uib-rating ng-model="case.difficulty" readonly="true" ng-show="case.difficulty>0" max="{{case.difficulty}}" aria-labelledby="default-rating"></uib-rating></td>
      </tr>
    </tbody>
  </table>
<div>

</div>

<div class="text-center listcase title">
	Haven't found what you're searching for? <br>
</div>
<div class="text-center">
	<a href="/#/createcase/{{markschemeid}}"><button class="btn btn-lg btn-default">Create one</button></a>
</div>