<div class="col-md-8 col-md-offset-2">
  <h1>Your Thoughts</h1>
  &nbsp
  <p>Thank you very much for using our Osce app! We welcome any feedback, constructive criticism and suggestions. We will continue to improve to give you a better iOsce experience. If you would like to be part of the team, please send an email to <a href="mailto: osce247@gmail.com">iosce@gmail.com.</a></p>
  <form class="form-horizontal" role="form">
    <div class="form-group col-md-12">      
      <textarea rows="5" ng-model="feedback" class="form-control" placeholder="Enter feedback">
      </textarea>
    </div>
    <p class="text-success">{{message}}</p>
    <div class="form-group col-md-12">      
      <button type="submit" class="btn btn-lg btn-default pull-right" ng-click="submit()">Submit</button>
    </div>
  </form>
</div>