<!-- Modal -->
<div>
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">{{variables.markscheme}}</h4>
    </div>
    <div class="modal-body">
      <img class="img-responsive" src="upload/{{variables.file}}"><br>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
  </div>
</div>